/* --------------- ANIMATIONS STYLES -------------- */

// emojis floating
div.emoji-side {
    @include flex($align: center, $justify: center);
    width: 75px;
    height: 150px;
    font-size: 20px;
    border: 1px solid #000;
}