/* ----------------- LAYOUT STYLES ---------------- */
body {
    // styles overrides
    overflow: hidden;
    font-family: 'Heebo', sans-serif;
}

.App {
    // next.js root container
    overflow: visible;
}